<html>
  <head>
    <title>Sphere Application</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h1><a href="/">Home</a></h1>
      <h3>To generate a token for a name, use /sphere/add/{name} in url</h3>
      <h4>E.g. <a href="/sphere/add/parul">/sphere/add/parul</a>
        <br/><br/>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
